.block {
    border: 2px solid black;
}

.renderAndDelete {
    display:flex;
    margin: 0 5%;
}

.chooseImg {
    margin: 0 auto;
    font-size: 25px;
}

.file {
    padding-bottom: 20px;
}

.block > input[type=submit] {
    margin: 0 auto;
    display: block;
}

.tag {
    display: inline-block;
    width: 150px;
    text-align: center;
}

input[type=checkbox] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

input[type=submit] {
    font-size: 20px;
}

input[type=datetime-local], input[type=number] {
    font-size: 20px;
    width: 250px;
}