<link href="/css/style.css" rel="stylesheet" type="text/css">
<form action="form" method="post" enctype="multipart/form-data" id="form">
    <p>Enter image name: </p>
    <input type="text" name="name"/>
    <br/>
    <input type="file" name="file"/>
    <br/>
    <input type="submit" value="submit"/>
    <br/>    
    <label>Show which prictures?</label>
    <div class="checkboxes">
        <% for(let i in imgs){ %>
            <input type="checkbox" class="checkbox" name ="options" value=<%= imgs[i] %>>
            <label><%= imgs[i] %></label>
            <br/>
        <% } %>
    </div>
</form>